{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app1 three</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1>
            this is from three on app2
        </h1>
        <p>
            Hover the link to see the
            <a href="#" data-mdb-toggle="tooltip" title="Hi! I'm tooltip">Nanda</a>
          </p>
    </center>
    
   <script src="{% static 'js/mdb.min.js' %}"></script> 
</html>